<!-- 비밀번호 찾기 > 2차 페이지 -->

<!DOCTYPE html>
<html style="overflow-x:hidden;">

{% load static %}
{% include 'header.html' %}
{% include 'footer.html' %}
{% include 'html_lib.html' %}

<style>
    body {
        background: url('{% static 'img/login_office.jpg' %}') no-repeat center center/cover;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.1;
        z-index: 0;
    }

    .loginbox {
        background-color: rgba(245, 245, 245, 0.8);
        border: 20px double #fff;
        z-index: 1;
    }

</style>

<div class="container-fluid">
    <div class="box-margin row no-gutters justify-content-center align-items-start align-items-md-center flex-column">
        <div class="loginbox card col-11 col-md-8 col-lg-6 col-xl-4 align-self-center my-4">

            <div class="card-body p-4 p-md-5">
                <div class="text-center">
                    <img class="mb-4 img-fluid" src="{% static '/img/tost_office_color_1200px.png' %}"
                         onclick="refresh()" style="cursor: pointer; max-width: 200px;">
                </div>

                <div class="col-12">
                    <div class="">
                        <div>
                            <div class="container mt-5">
                                <form method="post" onsubmit="return validatePasswords()">
                                    {% csrf_token %}
                                    <div class="col-12 mb-3">
                                        <label for="company_name" class="form-label text-dark fw-bold">회사 이름</label>
                                        <input type="text" class="form-control" id="company_name" name="company_name" value="{{ company_name }}" readonly>
                                        <input type="hidden" name="company_name" value="{{ company_name }}">

                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="user_id" class="form-label fw-bold">회사 관리자계정 접속 ID</label>
                                        <input type="text" class="form-control" id="user_id" name="user_id" value="{{ user_id }}" readonly>
                                        <input type="hidden" name="user_id" value="{{ user_id }}">
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="password" class="form-label text-dark fw-bold">비밀번호</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               required>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="password_confirm" class="form-label text-dark fw-bold">비밀번호 확인</label>
                                        <input type="password" class="form-control" id="password_confirm"
                                               name="password_confirm" required>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button id="submit-btn" class="btn btn-dark w-75 p-2 mt-3 text-nowrap" type="submit">
                                            비밀번호 변경
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters justify-content-center align-items-center m-0 p-2 w-100" style="z-index: 1;">
            <div class="d-flex flex-nowrap justify-content-center align-items-center text-white text-center text-nowrap">
                <a href="{% url 'brand_page' %}" class="text-decoration-none text-white">토스트 오피스</a>
                <span class="mx-2">|</span>
                <span>문의 : tost.korea@gmail.com</span>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    main();
});

function main() {
    set_autocomplete('off');
}

function refresh() {
    window.location.href = "/index/"
}

setTimeout(function () {
    let alert = document.querySelector('.alert');
    if (alert) {
        let bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
        bsAlert.close();
    }
}, 5000);  // 5초 후 사라짐

function validatePasswords() {
    const pw = document.getElementById("password").value;
    const pwConfirm = document.getElementById("password_confirm").value;

    if (pw !== pwConfirm) {
        alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
        return false;
    }
    return true;
}

</script>

{% if success %}
<script>
    alert("비밀번호 변경이 성공하였습니다. 변경된 비밀번호로 로그인해 주세요.");
    window.location.href = "/login/";
</script>
{% endif %}