<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <style>
        .code-box {
            font-size: 28px;
            font-weight: bold;
            background-color: #f3f3f3;
            padding: 20px;
            text-align: center;
            margin: 20px 0;
            border-radius: 5px;
        }

        .small {
            color: #666;
            font-size: 12px;
        }
    </style>
</head>
<body>
<p>안녕하세요, '토스트 오피스' 회원가입 및 비밀번호 초기화 과정에서 본인 확인을 위해 자동으로 발송되는 이메일입니다.</p>
<p>이메일 인증번호 입력창에 아래 인증번호를 입력해주세요.</p>
<p>&nbsp;</p>
<div class="code-box">{{ code }}</div>
<p>&nbsp;</p>
<p>혹시 메일인증 과정에서 어려움이 있다면 해당 메일로 회신주시거나 인스타그램 DM으로 문의주시면 별도의 도움을 드리도록 하겠습니다.</p>
<p>감사합니다.</p>

</body>
</html>