<!-- 대시보드 -->

<!DOCTYPE html>
<html style="overflow-x:hidden;">

{% load static %}
{% include 'header.html' %}
{% include 'footer.html' %}
{% include 'html_lib.html' %}

<style>
.nav-link {
    color: #c8c8c8 !important;
}
.nav-link.active {
    color: #343a40 !important;
}

.icon_box {
    min-height: 80px;
}

.apv_icon {
    font-size: 24px;
    cursor: pointer;
}
.apv_hover {
    padding: 2px 8px;
}
.apv_icon:hover ~ .apv_hover,
.apv_icon:hover + .apv_hover,
.apv_hover:hover {
    color: white !important;
    background-color: rgba(42,48,65,0.8);
    padding: 2px 8px;
    border-radius: 6px;
    cursor: pointer;
}
</style>


<!-- Content Area -->
<div class="row p-4">

    <!-- 게시물 목록 -->
    <div class="col-12">
        <div class="row gx-4">

            <!-- 프로필카드 -->
            <div class="col-12 mb-3">
                <div class="card border border-light h-100 m-0">
                    <div class="card-body">
                        <div class="font-size-15 fw-bold mb-3" style="color: #2a3041;">
                            <i class="fa-regular fa-face-smile fa-bounce me-1"></i>
                            <span id="procard_title">환영합니다</span>, {{ request.user.name }} {{ request.user.job_level.name }}님!
                        </div>

                        <div class="d-flex py-2 px-3">
                            <div class="">
                                <div style="position: relative; width: 80px; height: 80px;">
                                    <img id="profile_border" src="" style="width: 120px; height: 120px; position: absolute; top: -20px; left: -15px; border-radius: 50%; z-index: 2; display: none;">
                                    <img src="{{ profile_image_url|default:'/static/img/profile_default.png' }}" style="width: 80px; height: 80px; border-radius: 100%; position: absolute; top: 0; left: 0; z-index: 1;" alt="profile_image">
                                </div>
                                <div id="employment_years" class="mt-1" style="font-size: 12px;">&nbsp;</div>
                                <div class="progress position-relative" id="levelBackground" style="height: 12px; background-color: #eee;">
                                    <div id="levelProgressBar" class="progress-bar bg-secondary-subtle" role="progressbar" style="width: 0; box-shadow: none; border-radius: 12px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    <span id="workingDaysRate" class="text-center w-100" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 10px; color: black;"></span>
                                </div>
                            </div>

                            <div class="py-2 ms-4 w-100">
                                <div class="fw-bold" style="color: #343a40; font-size: 20px;">{{ request.user.name }} {{ request.user.job_level.name }}</div>
                                <div class="" style="color: #74788d;">{{ request.user.job_title.name }}</div>
                                <hr class="" style="border-color: #74788d;">
                                <div class="d-flex" style="font-size: 12px;">
                                    <div class="me-2 me-md-4">
                                        <i class="fa-solid fa-user-tie me-1" data-toggle="tooltip" data-placement="top" title="근무일 수"></i>
                                        <span id="working_days"></span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bolt me-1" data-toggle="tooltip" data-placement="top" title="연차 충전까지"></i>
                                        <span id="leave_refill_days"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 근태 현황-->
            <div class="col-12 mb-3">
                <div class="card border border-light h-100 m-0">
                    <div class="card-body">
                        <div class="fw-bold mb-3" style="color: #2a3041;">
                            <div class="d-inline-block font-size-16" onclick="url_click_request('{% url 'approval_list_page' %}')" style="cursor: pointer;">
                                <i class="fa-solid fa-envelope-circle-check me-2"></i>결재 현황
                            </div>
                        </div>

                        <div class="row g-1 py-2" style="margin: auto 0;">
                            <div class="col-4 d-flex flex-column align-items-center text-center icon_box">
                                <div onclick="url_click_request('/approval/list/?shortcut=apv_waiting_docs');" class="apv_waiting_docs">
                                    <div id="waiting_docs_box" class="position-relative d-inline-flex flex-column align-items-center p-2" style="max-width: 80px;">
                                        <i class="apv_icon fa-solid fa-envelope-open-text text-muted mb-2"></i>
                                        <div class="apv_hover text-muted d-flex text-nowrap" style="font-size: 14px;">미결재<span class="text-nowrap d-sm-block d-md-none d-xxl-block ms-1">문서</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex flex-column align-items-center text-center icon_box">
                                <div onclick="url_click_request('/approval/list/?shortcut=apv_unread_docs');" class="apv_unread_docs">
                                    <div id="unread_docs_box" class="position-relative d-inline-flex flex-column align-items-center p-2" style="max-width: 80px;">
                                        <i class="apv_icon fa-solid fa-envelope text-muted mb-2"></i>
                                        <div class="apv_hover text-muted d-flex text-nowrap" style="font-size: 14px;">미확인<span class="text-nowrap d-sm-block d-md-none d-xxl-block ms-1">문서</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex flex-column align-items-center text-center icon_box">
                                <div onclick="url_click_request('/approval/list/?shortcut=apv_my_temp_docs');" class="apv_my_temp_docs">
                                    <div id="temp_docs_box" class="position-relative d-inline-flex flex-column align-items-center p-2" style="max-width: 80px;">
                                        <i class="apv_icon fa-solid fa-file-pen text-muted mb-2"></i>
                                        <div class="apv_hover text-muted d-flex text-nowrap" style="font-size: 14px;">작성중<span class="text-nowrap d-sm-block d-md-none d-xxl-block ms-1">문서</span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 d-flex flex-column align-items-center text-center icon_box">
                                <div onclick="if (confirm('신규 휴가신청서를 작성하시겠습니까?')) { url_click_request('{% url 'approval_create_page' 1 %}'); }">
                                    <div class="position-relative d-inline-flex flex-column align-items-center p-2">
                                        <i class="apv_icon fa-solid fa-house-user text-dark mb-2"></i>
                                        <div class="apv_hover text-muted d-flex text-nowrap" style="font-size: 14px; margin: 4px auto -4px auto;">새 휴가<span class="text-nowrap d-sm-block d-md-none d-xxl-block ms-1">신청</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex flex-column align-items-center text-center icon_box">
                                <div onclick="if (confirm('신규 출장신청서를 작성하시겠습니까?')) { url_click_request('{% url 'approval_create_page' 2 %}'); }">
                                    <div class="position-relative d-inline-flex flex-column align-items-center p-2">
                                        <i class="apv_icon fa-solid fa-briefcase text-dark mb-2"></i>
                                        <div class="apv_hover text-muted d-flex text-nowrap" style="font-size: 14px; margin: 4px auto -4px auto;">새 출장<span class="text-nowrap d-sm-block d-md-none d-xxl-block ms-1">신청</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex flex-column align-items-center text-center icon_box">
                                <div onclick="if (confirm('신규 지출결의서를 작성하시겠습니까?')) { url_click_request('{% url 'approval_create_page' 3 %}'); }">
                                    <div class="position-relative d-inline-flex flex-column align-items-center p-2">
                                        <i class="apv_icon fa-solid fa-file-invoice-dollar text-dark mb-2"></i>
                                        <div class="apv_hover text-muted d-flex text-nowrap" style="font-size: 14px; margin: 4px auto -4px auto;">새 지출<span class="text-nowrap d-sm-block d-md-none d-xxl-block ms-1">결의</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
window.onkeydown = function (event) {
    if (event.keyCode == 116) {  // F5
        event.returnValue = false;
        refresh();
    }
}

function refresh() {
    window.location.href = window.location.href
}

$(function () {
    main();
});

function main() {
    set_autocomplete('off');
    init_date_flatpickr();
    init_datetime_flatpickr();
    $('#fr_date').val(date_today_str);

    profile_card_fn();  // 프로필카드 이니시
    approval_list_fn();  // 나의결재 이니시
}


// 프로필카드 영역
function profile_card_fn() {
    fetch_gp("/admin_employee_list_fn/?myinfo=true", 'GET', true, {}, (done) => {
        let data = done.results[0];
        profile_card_draw_table(data);
    });
}

function profile_card_draw_table(data) {
    // console.log("profile_card_draw_table: ", data);

    let company_annual_leave_payment = `{{ request.user.company.company_info.first.annual_leave_payment }}`
    let next_year_jan_1st = new Date(new Date().getFullYear() + 1, 0, 1);
    let joinDate = new Date(data.join_date);
    let Today = new Date(date_today_str);
    let workingDays = Math.floor((Today - joinDate) / (1000 * 60 * 60 * 24));  // 근무일수
    let workingYears = Math.floor(workingDays / 365);  // 근속년수
    let nextJoinDate = new Date(Today.getFullYear(), joinDate.getMonth(), joinDate.getDate());
    if (nextJoinDate < Today) {
        nextJoinDate.setFullYear(Today.getFullYear() + 1);
    }
    if (company_annual_leave_payment === 'first_jan') {
        company_annual_leave_payment = next_year_jan_1st;
    } else {
        company_annual_leave_payment = nextJoinDate;
    }
    let leave_refill_days = Math.ceil((company_annual_leave_payment - Today) / (1000 * 60 * 60 * 24));  // 휴가충전까지 남은일수
    let workingDaysPer = (((workingDays / 365) - workingYears) * 100).toFixed(1);  // 입사일까지 남은일수(경험치)
    $('#levelProgressBar').css('width', workingDaysPer + "%");
    $('#levelProgressBar').attr("aria-valuenow", workingDaysPer);

    $("#employment_years").text('Lv ' + workingYears);
    $("#working_days").text('+' + workingDays + ' days');
    $("#leave_refill_days").text('-' + leave_refill_days + ' days');
    $("#workingDaysRate").text(workingDaysPer + '%');
}


// 전자결재 영역
function approval_list_fn() {
    let query = "?page=1&page_size=1";
    fetch_gp("/approval_list_fn/" + query, 'GET', true, {}, (done) => {
        // console.log("approval_draw_table: ", done);

        updateApprovalBox('#waiting_docs_box', done.waiting_docs);
        updateApprovalBox('#unread_docs_box', done.unread_docs);
        updateApprovalBox('#temp_docs_box', done.temp_docs);
    });
}

function updateApprovalBox(selector, count) {
    let $box = $(selector);
    let $icon = $box.find('i');
    let $label = $box.find('.apv_hover');

    if (count > 0) {
        // 색상 변경
        $icon.removeClass('text-muted').addClass('text-dark');
        $label.removeClass('text-muted').addClass('text-dark fw-bold');

        // 기존 뱃지 제거
        $box.find('.badge').remove();

        // 뱃지 생성 및 추가
        let $badge = $('<span></span>', {
            class: 'position-absolute translate-middle badge rounded-pill',
            text: count,
            css: {
                backgroundColor: '#da3544',
                fontSize: '12px',
                width: '20px',
                height: '20px',
                top: '15%',
                left: '65%',
                display: 'flex',
                alignItems: 'center',
                justifyContent: 'center',
                position: 'absolute'
            }
        });

        $box.append($badge);
    }
}


</script>