<div class="col-xxl-12">
    <div class="card border border-light">
        <div class="card-body">
            <form id="notice-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="board_id" value="{{ board.id|default_if_none:'' }}">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">제목</label>
                        <input type="text" name="title" id="board_title" class="form-control div_required" value="{{ board.title|default_if_none:'' }}">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="board_category fw-bold">카테고리</label>
                        <select name="category" id="board_category" class="form-select div_required"></select>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold" for="summernote">내용</label>
                    <textarea name="content" id="summernote" class="form-control">{{ board.content|default_if_none:'' }}</textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">첨부파일</label>
                    <input type="file" name="file" id="board_file" class="form-control">

                    {% if board.upload_file %}
                        <p class="mt-2">
                            현재 파일:
                            <a href="{{ board.upload_file.url }}" download>{{ board.upload_file.name }}</a>
                            <i class="fa-solid fa-xmark text-danger fa-lg ms-2" id="remove-file-icon" style="cursor: pointer;" onclick="removeAttachedFile()"></i>
                        </p>
                    {% endif %}

                    <input type="hidden" name="remove_file" id="remove_file" value="0">
                </div>
            </form>
        </div>
    </div>
</div>


<script>
boardId = '{{ board.id }}';
if (boardId) {
    boardCategory = '{{ board.category.id }}';
} else {
    boardCategory = clicked_category_id
}

$(function () {
    set_autocomplete('off');
    init_Select2('#board_category', '선택', '/sel2_code_board_category/', {id: 'id', txt: item => `${item.text}`}, boardCategory);
});

$(document).ready(function () {
    $('#summernote').summernote({
        height: 'auto', // 에디터 높이
        width: '100%',
        minHeight: '250px', // 최소 높이
        maxHeight: null, // 최대 높이
        focus: false, // 에디터 로딩후 포커스를 맞출지 여부
        lang: 'ko-KR', // 한글 설정
        tabDisable: true,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
            ['fontstyle', ['fontname', 'fontsize', 'color']],
            ['para', ['paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['hr', 'link', 'picture', 'video']],
            ['view', ['help']]
        ],
    });
});

function a_create_submit() {
    if (is_empty($('#board_title').val())) {
        notiToast("제목을 입력하세요.");
        return;
    }
    
    if (is_empty($('#board_category').val())) {
        notiToast("카테고리를 선택하세요.");
        return;
    }

    let api_data = new FormData();
    api_data.append('title', nullapply($('#board_title').val()));
    api_data.append('content', $('#summernote').summernote('code'));
    api_data.append('category', nullapply($('#board_category').val()));
    let fileInput = $('#board_file')[0].files;
        if (fileInput.length > 0) {
        let maxSize = 10 * 1024 * 1024;  // 10MB
        if (fileInput[0].size > maxSize) {
            notiToast("첨부파일은 최대 10MB까지 업로드 가능합니다.");
            return;
        }
        api_data.append('file', fileInput[0]);
    }

    fetch_gp('/board_create_fn/', 'post', true, api_data, (done) => {
        a_search_ready();
        notiToast(txt.create_ed);

        $("#board_content_area").load(`/board/read/${done.id}/`, function () {
            if (('{{ request.user.id }}') === window.boardCreatedBy) {
                $(".board_btn").addClass('d-none');
                $("#read_btn").removeClass('d-none');
                $("#writer_only").removeClass('d-none');
            }
        });
    });
}

function a_update_submit() {
    if (is_empty($('#board_title').val())) {
        notiToast("제목을 입력하세요.");
        return;
    }

    let api_data = new FormData();
    api_data.append('pk', {{ board.id }});
    api_data.append('title', nullapply($('#board_title').val()));
    api_data.append('content', $('#summernote').summernote('code'));
    api_data.append('category', nullapply($('#board_category').val()));
    api_data.append("remove_file", $('#remove_file').val());
    let fileInput = $('#board_file')[0].files;
        if (fileInput.length > 0) {
        let maxSize = 10 * 1024 * 1024;  // 10MB
        if (fileInput[0].size > maxSize) {
            notiToast("첨부파일은 최대 10MB까지 업로드 가능합니다.");
            return;
        }
        api_data.append('file', fileInput[0]);
    }

    fetch_gp('/board_update_fn/', 'post', true, api_data, (done) => {
        a_search_ready();
        notiToast(txt.update_ed);

        $("#board_content_area").load(`/board/read/${done.id}/`, function () {
            if (('{{ request.user.id }}') === window.boardCreatedBy) {
                $(".board_btn").addClass('d-none');
                $("#read_btn").removeClass('d-none');
                $("#writer_only").removeClass('d-none');
            }
        });
    });
}

function removeAttachedFile() {
    if (confirm("첨부된 파일을 삭제하시겠습니까?")) {
        $('#remove_file').val("1");
        $('#remove-file-icon').parent().html("<p class='text-muted'>첨부파일이 삭제되었습니다.</p>");
    }
}

</script>