<!-- 팩토리 > 가이드 -->

<!DOCTYPE html>
<html style="overflow-x: hidden;">

{% load static %}
{% include 'header.html' %}
{% include 'footer.html' %}
{% include 'html_lib.html' %}
<style>

</style>

<!-- Content Area -->
<div class="row p-4">

    <!-- 게시물 목록 -->
    <div class="col-12">
        <div class="row gx-4">

            <!-- 상단 메뉴바 -->
            <div class="col-xxl-12">
                <div class="d-inline-block align-items-center mb-3" style="font-size: 20px; color: #2a3040; cursor: pointer; font-weight: 1000;" onclick="refresh()">
                    <i class="fa-solid fa-book-open me-2"></i>사용자 가이드
                    <i class="fa-regular fa-circle-question fa-2xs" style="vertical-align: super;" data-toggle="tooltip" data-placement="top" onclick="event.stopPropagation();"
                    title="• [토스트 팩토리] 사용자를 위한 가이드 페이지입니다."></i>
                </div>
            </div>

            <div class="col-12">
                <div class="card border border-light">
                    <div class="card-body p-3">

                        <!-- 본문 영역 -->
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="col-12 col-md-3 col-lg-2">
                                <div class="card border border-light">
                                    <div class="card-body p-3">
                                        <!-- 가이드 목록 -->
                                        <div class="d-flex justify-content-between align-items-center fw-bold mb-2" style="font-size: 16px; color: #2a3040;">가이드 목록</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-9 col-lg-10 ps-0 ps-md-2">
                                <div class="card border border-light">
                                    <div class="card-body p-3">
                                        <!-- 가이드 내용 -->
                                        <div class="d-flex justify-content-between align-items-center fw-bold mb-2" style="font-size: 16px; color: #2a3040;">가이드 제목</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

window.onkeydown = function (event) {
    if (event.keyCode == 116) {  // F5
        event.returnValue = false;
        refresh();
    }
}

function refresh() {
    let baseUrl = window.location.origin + window.location.pathname;
    window.location.href = baseUrl;
}

$(function () {
    main();
});

function main() {
    set_autocomplete('off');
}

</script>