{% load static %}

<!-- JAVASCRIPT -->
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery-ui-dist/jquery-ui.min.js' %}"></script>
{% comment %}<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>{% endcomment %}
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- apexcharts -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

<!-- dashboard init -->
<script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Buttons examples -->
<script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>

<!-- Summernote CSS -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/lang/summernote-ko-KR.min.js"></script>

<!-- FullCalendar -->
<script src="{% static 'assets/libs/moment/min/moment.min.js' %}"></script>
<script src="{% static 'assets/libs/fullcalendar/index.global.min.js' %}"></script>

<!-- flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>

<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>