<!-- 토스트 관리자 > 이용업체 관리 -->

<!DOCTYPE html>
<html style="overflow-x:hidden;">

{% load static %}
{% include 'header.html' %}
{% include 'footer.html' %}
{% include 'html_lib.html' %}

<!-- Content Area -->
<div class="row p-4">

    <!-- 게시물 목록 -->
    <div class="col-12">
        <div class="row gx-4">

            <!-- 상단 메뉴바 -->
            <div class="col-xxl-12">
                <div class="d-inline-block align-items-center mb-3" style="font-size: 20px; color: #2a3040; cursor: pointer; font-weight: 1000;" onclick="refresh()">
                    <i class="fa-solid fa-handshake me-2"></i>이용업체 관리
                    <i class="fa-regular fa-circle-question fa-2xs" style="vertical-align: super;" data-toggle="tooltip" data-placement="top" onclick="event.stopPropagation();"
                    title="• 이용업체를 등록하고 수정, 삭제할 수 있는 페이지 입니다."></i>
                </div>
            </div>

            <div class="col-12">
                <div class="card border border-light">
                    <div class="card-body p-3">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex p-0">
                                <div class="d-none d-md-inline btn btn-secondary text-nowrap me-1 px-2.5" onclick="refresh()"
                                     data-toggle="tooltip" data-placement="top" title="새로고침 (F5)">
                                    <i class="fa-solid fa-rotate-right"></i>
                                </div>

                                <select class="d-none d-md-inline page_size form-select form-select-sm me-1" id="a_page_size"
                                        onchange="a_search_ready()" data-toggle="tooltip" data-placement="top" title="리스트에서 표시할 수량">
                                    <option value="10">10개</option>
                                    <option value="20" selected>20개</option>
                                    <option value="50">50개</option>
                                    <option value="100">100개</option>
                                    <option value="200">200개</option>
                                    <option value="500">500개</option>
                                </select>

                                <div class="search-box d-flex me-1">
                                    <div class="position-relative flex-grow-1">
                                        <input type="text" class="form-control rounded border-secondary" id="all_sch" placeholder="검색어 입력">
                                        <i class="mdi mdi-magnify search-icon"></i>
                                    </div>
                                </div>

                                <button class="btn btn-secondary text-nowrap me-1 px-2.5" onclick="a_search_ready()">
                                    <i class="fa-solid fa-magnifying-glass"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">검색</span>
                                </button>
                            </div>
                        
                            <div class="d-flex p-0">
                                <button class="btn btn-success text-nowrap ms-1 px-2.5" onclick="a_create_modal_in()">
                                    <i class="fa-solid fa-plus"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">등록</span>
                                </button>
                                <button class="btn btn-warning text-nowrap ms-1 px-2.5" onclick="a_update_modal_in()">
                                    <i class="fa-solid fa-pen"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">수정</span>
                                </button>
                                <button class="btn btn-danger text-nowrap ms-1 px-2.5" onclick="a_delete_submit()">
                                    <i class="fa-solid fa-trash-can"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">삭제</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- 건별 게시물 -->
                        <div class="col-xxl-12">
                            <div class="custom_table table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                        <tr class="text-nowrap">
                                            <th>순번</th>
                                            <th>업체 코드</th>
                                            <th>업체 이름</th>
                                            <th>마스터 ID</th>
                                            <th>마스터 최근 접속일</th>
                                            <th>활성 사용자</th>
                                            <th>가입 이메일</th>
                                            <th>서비스 현황</th>
                                            <th>서비스 가입일</th>
                                            <th>서비스 종료일</th>
                                            <th>남은 서비스일</th>
                                            <th>탈퇴 요청</th>
                                            {% comment %}<th>누적 후원금</th>{% endcomment %}
                                        </tr>
                                    </thead>
                                    <tbody id="a_tbody"></tbody>
                                </table>
                            </div>
                            <div class="div_center mt-3" id="a_nation_id"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- a_create_modal -->
<div class="modal fade" id="a_create_modal" tabindex="-1" role="dialog" aria-labelledby="a_create_modal"
     data-bs-backdrop="static" data-bs-keyboard="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mx-2">이용업체 관리 <i class="fa-solid fa-angle-right px-1"></i> 등록</h5>
                <div>
                    <i class="fa-solid fa-expand fa-lg text-white mx-2" title="전체화면" style="cursor: pointer;" id="md_fullscreen_create"></i>
                    <i class="fa-solid fa-rotate-right fa-lg text-white mx-2" title="초기화" style="cursor: pointer;" onclick="a_create_modal_reset()"></i>
                    <i class="fa-solid fa-xmark fa-xl text-white mx-2" title="닫기" style="cursor: pointer;" data-bs-dismiss="modal"></i>
                </div>
            </div>

            <div class="modal-body w-100 p-4">
                <div class="row">
                    <div class="col-12 mb-3 d-flex align-items-end">
                        <div class="col-11 m-0">
                            <label for="code" class="form-label d-block">업체 코드</label>
                            <input type="text" class="form-control" id="code" placeholder="자동 생성" disabled>
                        </div>
                        <div class="col-1 m-0 d-flex align-items-center ms-2">
                            <input class="form-check-input mb-2" style="width: 20px; height: 20px;" type="checkbox" id="auto_id_code" checked>
                        </div>
                    </div>
                    
                    <div class="col-12 mb-3">
                        <label for="group" class="form-label">업체 이름*</label>
                        <input type="text" class="form-control div_required" id="name">
                    </div>

                    <div class="col-12 mb-3">
                        <label for="master_id" class="form-label">마스터 ID* (초기 비밀번호 'tost2025')</label>
                        <input type="text" class="form-control div_required" id="master_id">
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end">
                <div class="col-8 d-flex justify-content-end">
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_create_modal_reset()">초기화</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_create_submit()">등록</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" data-bs-dismiss="modal">닫기</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- a_update_modal -->
<div class="modal fade" id="a_update_modal" tabindex="-1" role="dialog" aria-labelledby="a_update_modal"
     data-bs-backdrop="static" data-bs-keyboard="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mx-2">이용업체 관리 <i class="fa-solid fa-angle-right px-1"></i> 수정</h5>
                <div>
                    <i class="fa-solid fa-expand fa-lg text-white mx-2" title="전체화면" style="cursor: pointer;" id="md_fullscreen_update"></i>
                    <i class="fa-solid fa-rotate-right fa-lg text-white mx-2" title="초기화" style="cursor: pointer;" onclick="a_update_modal_reset()"></i>
                    <i class="fa-solid fa-xmark fa-xl text-white mx-2" title="닫기" style="cursor: pointer;" data-bs-dismiss="modal"></i>
                </div>
            </div>

            <div class="modal-body w-100 p-4">
                <div class="row">
                    <div class="col-12 mb-3 d-flex align-items-end">
                        <div class="col-11 m-0">
                            <label for="code" class="form-label d-block">업체 코드</label>
                            <input type="text" class="form-control" id="code" placeholder="자동 생성" disabled>
                        </div>
                        <div class="col-1 m-0 d-flex align-items-center ms-2">
                            <input class="form-check-input mb-2" style="width: 20px; height: 20px;" type="checkbox" id="auto_id_code" checked>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="group" class="form-label">업체 이름</label>
                        <input type="text" class="form-control div_required" id="name">
                    </div>
                    
                    <div class="col-12 mb-3">
                        <label for="signup_email" class="form-label">가입 이메일</label>
                        <input type="text" class="form-control" id="signup_email">
                    </div>

                    <div class="col-12 mb-3">
                        <label for="expire_date" class="form-label">서비스 종료일</label>
                        <input type="text" class="form-control date_flatpickr" id="expire_date">
                    </div>

                    <div class="col-12 mb-3">
                        <label for="is_valid" class="form-label">서비스 현황</label>
                        <select type="text" class="form-select" id="is_valid">
                            <option value="true">서비스 중</option>
                            <option value="false">기간 만료</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end">
                <div class="col-8 d-flex justify-content-end">
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_update_modal_reset()">초기화</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_update_submit()">수정</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" data-bs-dismiss="modal">닫기</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
let a_click_id;
let a_click_code;
let a_click_name;
let a_click_is_valid;
let a_click_expire_date;
let a_click_signup_email;

let all_sch;

let a_nation_data = {
    cname: 'a_nation',  // 인스턴스 명과 일치해야함
    nation_id: 'a_nation_id',
    range: 5,
    page_size: 20,  // 세로 Row 수
};
let a_nation = new Nations(a_nation_data, a_search); // 인스턴스 명
a_nation.nation_display({});

$('#a_page_size').on('change', function () {
    localStorage.setItem('admin_company_page_size', $(this).val());
});

window.onkeydown = function (event) {
    if (event.keyCode == 116) {  // F5
        event.returnValue = false;
        refresh();
    }
}

document.getElementById("all_sch").addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
        a_search_ready();
    }
});

function refresh() {
    window.location.href = window.location.href
}

$(function () {
    let savedPageSize = localStorage.getItem('admin_company_page_size');
    if (savedPageSize) { $('#a_page_size').val(savedPageSize);}
    
    main();
});

function main() {
    set_autocomplete('off');
    init_date_flatpickr();
    a_search_ready();
}

$(document).ready(function () {
    $('#a_create_modal #auto_id_code').on('change', function() {
        if ($(this).is(':checked')) {
            $('#a_create_modal #code').prop('disabled', true).attr('placeholder', '자동 생성').val('');
        } else {
            $('#a_create_modal #code').prop('disabled', false).attr('placeholder', '업체코드 입력');
        }
    });

    $('#a_update_modal #auto_id_code').on('change', function() {
        if ($(this).is(':checked')) {
            $('#a_update_modal #code').prop('disabled', true).attr('placeholder', '자동 생성').val('');
        } else {
            $('#a_update_modal #code').prop('disabled', false).val(a_click_code);
        }
    });
});

function a_search_ready() {
    a_click_id = null;
    a_nation.page = 1;
    a_nation_data.page_size = $("#a_page_size").val();
    all_sch = $('#all_sch').val();

    a_search();
}

function a_search() {
    let query = "?page=" + a_nation.page + "&page_size=" + a_nation_data.page_size;
    query += "&all_sch=" + all_sch;

    fetch_gp("/admin_company_list_fn/" + query, 'GET', true, {}, (done) => {
        a_draw_table(done);
    });
}

function a_draw_table(done) {
    // console.log("a_draw_table: ", done);

    let data = done.results;
    if (data.length === 0) {
        let emptyRow = `
        <tr>
            <td colspan="99" style="text-align: center;">등록된 데이터가 없습니다.</td>
        </tr>`;
        $('#a_tbody').html(emptyRow);
        return;
    }

    let num = ((a_nation.page - 1) * a_nation_data.page_size) + 1;
    let rows = "";
    for (let i = 0; i < data.length; i++) {
        let item = data[i];
        let days_until_expire = '';
        if (item.expire_date) {
            const expire = new Date(item.expire_date);
            const today = new Date();
            const diffTime = expire - today;
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            days_until_expire = diffDays + "일";
        }

        let cost = `${(Math.max(item.active_users - 5, 0) * 5000 + 50000).toLocaleString()}`; // 월기본 5만원(5인) + 1인당 5000원

        let row = `
        <tr id='${item.id}' class='align-middle text-nowrap' style='cursor:pointer;'>
            <td>${num + i}</td>
            <td name='code'>${item.code || ""}</td>
            <td name='name'>${item.name || ""}</td>
            <td name='master_user_id'>${item.master_user_id || ""}</td>
            <td name='master_last_login'>${item.master_last_login || ""}</td>
            <td name='active_users'>${item.active_users || ""}</td>
            <td name='signup_email'>${item.signup_email || ""}</td>
            <td name='is_valid_value'>${item.is_valid ? "서비스 중" : "기간 만료"}</td>
            <td name='created_at'>${item.created_at || ""}</td>
            <td name='expire_date'>${item.expire_date || ""}</td>
            <td name='days_until_expire'>${days_until_expire || ""}</td>
            {% comment %}<td name='current_cost'>${cost}원</td>{% endcomment %}
            {% comment %}<td name='total_donation'>추후 업데이트</td>{% endcomment %}
            <td name='exit_request'>${item.exit_request || ""}</td>

            <td name='is_valid' class='d-none'>${item.is_valid}</td>
        </tr>`;
        rows += row;
    }

    a_nation.nation_display(done);
    $('#a_tbody').html(rows);

    // 클릭한 행 유지
    if (a_click_id != null) {
        $("#a_tbody #" + a_click_id).addClass('clicked');
    }

    $('#a_tbody > tr').on('click', function () {
        $('#a_tbody > tr').removeClass('clicked');
        $(this).addClass('clicked');

        a_click_id = $(this).attr("id");
        a_click_code = $(this).find("[name='code']").text();
        a_click_name = $(this).find("[name='name']").text();
        a_click_expire_date = $(this).find("[name='expire_date']").text();
        a_click_is_valid = $(this).find("[name='is_valid']").text();
        a_click_signup_email = $(this).find("[name='signup_email']").text();
    });

    $('#a_tbody > tr').on('dblclick', function () {
        a_update_modal_in();
    });
}

function a_create_modal_in() {
    a_create_modal_reset('popup_off');

    if (window.matchMedia('(max-width: 1200px)').matches) {
        $('#md_fullscreen_create').trigger('click');
    }

    $('#a_create_modal').modal("show");
}

function a_create_modal_reset(popup_off) {
    $("#a_create_modal #code").val('');
    $("#a_create_modal #name").val('');
    $("#a_create_modal #master_id").val('');
    
    modal_toast(popup_off, '#a_create_modal');
}

function a_create_submit() {
    if (is_empty($('#a_create_modal #name').val()) === true) {
        alert("[업체 이름] 항목을 입력하세요.");
        return;
    }

    if (is_empty($('#a_create_modal #master_id').val()) === true) {
        alert("[마스터 ID] 항목을 입력하세요.");
        return;
    }

    let api_data = new FormData();
        api_data.append("code", nullapply($('#a_create_modal #code').val()));
        api_data.append("name", nullapply($('#a_create_modal #name').val()));
        api_data.append("master_id", nullapply($('#a_create_modal #master_id').val()));

    fetch_gp('/admin_company_create_fn/', 'post', true, api_data, (done) => {
        $('#a_create_modal').modal("hide");
        a_search_ready();
        alert(txt.create_ed);
    });
}

function a_update_modal_in() {
    if (a_click_id == null) {
        alert(txt.update_select);
        return;
    }

    a_update_modal_reset('popup_off');

    if (window.matchMedia('(max-width: 1200px)').matches) {
        $('#md_fullscreen_update').trigger('click');
    }

    $('#a_update_modal').modal("show");
}

function a_update_modal_reset(popup_off) {
    $('#a_update_modal #code').prop('disabled', false).val(a_click_code);
    $('#a_update_modal #auto_id_code').prop('checked', false);
    $("#a_update_modal #name").val(a_click_name);
    $("#a_update_modal #expire_date").val(a_click_expire_date);
    $("#a_update_modal #is_valid").val(a_click_is_valid);
    $("#a_update_modal #signup_email").val(a_click_signup_email);

    modal_toast(popup_off, '#a_update_modal');
}

function a_update_submit() {
    if (is_empty($('#a_update_modal #name').val()) === true) {
        alert("[업체 이름] 항목을 입력하세요.");
        return;
    }

    let api_data = new FormData();
        api_data.append("pk", a_click_id);
        api_data.append("code", nullapply($('#a_update_modal #code').val()));
        api_data.append("name", nullapply($('#a_update_modal #name').val()));
        api_data.append("expire_date", nullapply($('#a_update_modal #expire_date').val()));
        api_data.append("is_valid", nullapply($('#a_update_modal #is_valid').val()));
        api_data.append("signup_email", nullapply($('#a_update_modal #signup_email').val()));

    fetch_gp('/admin_company_update_fn/', 'post', true, api_data, (done) => {
        $('#a_update_modal').modal("hide");
        a_search_ready();
        alert(txt.update_ed);
    });
}

function a_delete_submit() {
    if (a_click_id == null) {
        alert(txt.delete_select);
        return;
    }

    let res = prompt(`[${a_click_name}] 업체를 ` + txt.delete_will_check);
    if (txt.delete_check.includes(res)) {

        let api_data = new FormData();
        api_data.append("pk", a_click_id);

        fetch_gp('/admin_company_delete_fn/', 'post', true, api_data, (done) => {
            a_nation.page = 1;
            a_click_id = null;

            a_search_ready();
            alert(txt.delete_ed);
        });
    } else {
        alert(txt.cancel);
    }
}


const modalConfigs = [
    { modalId: 'a_create_modal', iconId: 'md_fullscreen_create' },
    { modalId: 'a_update_modal', iconId: 'md_fullscreen_update' },
];

modalConfigs.forEach(({ modalId, iconId }) => {
    const modalElement = document.getElementById(modalId);
    const iconElement = document.getElementById(iconId);

    if (modalElement && iconElement) {
        iconElement.addEventListener('click', () => {
            toggleModalFullscreen(modalElement, iconElement);
        });

        $(`#${modalId}`).on('hidden.bs.modal', () => {
            resetModalFullscreen(modalElement, iconElement);
        });
    }
});

document.querySelectorAll('.modal-header').forEach(header => {
    header.addEventListener('dblclick', function () {
        const modalElement = this.closest('.modal');
        const iconElement = this.querySelector('.fa-expand, .fa-compress');
        if (modalElement && iconElement) {
            toggleModalFullscreen(modalElement, iconElement);
        }
    });
});

</script>