<!-- 휴가관리 > 연차관리 -->

<!DOCTYPE html>
<html style="overflow-x:hidden;">

{% load static %}
{% include 'header.html' %}
{% include 'footer.html' %}
{% include 'html_lib.html' %}

<!-- Content Area -->
<div class="row p-4">

    <!-- 게시물 목록 -->
    <div class="col-12">
        <div class="row gx-4">

            <!-- 상단 메뉴바 -->
            <div class="col-xxl-12">
                <div class="d-inline-block align-items-center mb-3" style="font-size: 20px; color: #2a3040; cursor: pointer; font-weight: 1000;" onclick="refresh()">
                    <i class="fa-solid fa-house-user me-2"></i>연차관리
                    <i class="fa-regular fa-circle-question fa-2xs" style="vertical-align: super;" data-toggle="tooltip" data-placement="top" onclick="event.stopPropagation();"
                    title="• 휴가신청으로 등록된 연차를 조정하는 페이지 입니다.<br>• 신규 연차를 추가하거나 기존 연차를 삭감할 수 있습니다.<br>• '결재 상태' 버튼을 클릭하면 해당 전자결재를 불러옵니다.<br>• 수정하려는 항목에서 더블클릭하면 수정 팝업이 열립니다."></i>
                </div>
            </div>
            
            <div class="col-12">
                <div class="card border border-light">
                    <div class="card-body p-3">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex p-0">
                                <div class="d-none d-md-inline btn btn-secondary text-nowrap me-1 px-2.5" onclick="refresh()"
                                     data-toggle="tooltip" data-placement="top" title="새로고침 (F5)">
                                    <i class="fa-solid fa-rotate-right"></i>
                                </div>

                                <select class="d-none d-md-inline page_size form-select form-select-sm me-1" id="a_page_size"
                                        onchange="a_search_ready()" data-toggle="tooltip" data-placement="top" title="리스트에서 표시할 수량">
                                    <option value="10">10개</option>
                                    <option value="20" selected>20개</option>
                                    <option value="50">50개</option>
                                    <option value="100">100개</option>
                                    <option value="200">200개</option>
                                    <option value="500">500개</option>
                                </select>

                                <div class="d-none d-md-flex input-group input-daterange w-auto me-1">
                                    <input id="fr_date" type="text" placeholder="시작일 검색" onchange="a_search_ready()" autocomplete="off"
                                           class="form-control date_flatpickr border border-secondary" style="max-width: 120px;">
                                    <input id="to_date" type="text" placeholder="종료일 검색" onchange="a_search_ready()" autocomplete="off"
                                           class="form-control date_flatpickr border border-secondary" style="max-width: 120px;">
                                </div>

                                <div class="search-box d-flex me-1">
                                    <div class="position-relative flex-grow-1">
                                        <input type="text" class="form-control rounded border-secondary" id="all_sch" placeholder="검색어 입력">
                                        <i class="mdi mdi-magnify search-icon"></i>
                                    </div>
                                </div>

                                <button class="btn btn-secondary text-nowrap me-1 px-2.5" onclick="a_search_ready()">
                                    <i class="fa-solid fa-magnifying-glass"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">검색</span>
                                </button>
                            </div>

                            <div class="d-flex p-0">
                                {% if request.user.is_superuser or request.user.is_master %}
                                <button class="btn btn-success text-nowrap ms-1 px-2.5" onclick="a_create_modal_in()">
                                    <i class="fa-solid fa-plus"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">등록</span>
                                </button>
                                <button class="btn btn-warning text-nowrap ms-1 px-2.5" onclick="a_update_modal_in()">
                                    <i class="fa-solid fa-pen"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">수정</span>
                                </button>
                                <button class="btn btn-danger text-nowrap ms-1 px-2.5" onclick="a_delete_submit()">
                                    <i class="fa-solid fa-trash-can"></i><span class="d-none d-xl-inline m-0 p-0 ms-2">삭제</span>
                                </button>
                                {% endif %}
                            </div>
                        </div>

                        <!-- 건별 게시물 -->
                        <div class="custom_table table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr class="text-nowrap">
                                        <th class="d-none d-md-table-cell min_width">순번</th>
                                        <th>이름</th>
                                        <th class="d-none d-md-table-cell">부서</th>
                                        <th>휴가 종류</th>
                                        <th>휴가 시작일</th>
                                        <th class="d-none d-md-table-cell">휴가 종료일</th>
                                        <th>일수</th>
                                        <th>결재 상태</th>
                                        <th class="d-none d-md-table-cell">조정 사유</th>
                                    </tr>
                                </thead>
                                <tbody id="a_tbody"></tbody>
                            </table>
                        </div>
                        <div class="div_center mt-3" id="a_nation_id"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- a_create_modal -->
<div class="modal fade" id="a_create_modal" tabindex="-1" role="dialog" aria-labelledby="a_create_modal"
     data-bs-backdrop="static" data-bs-keyboard="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mx-2">휴가 관리 <i class="fa-solid fa-angle-right px-1"></i> 연차조정 등록</h5>
                <div>
                    <i class="fa-solid fa-expand fa-lg text-white mx-2" title="전체화면" style="cursor: pointer;" id="md_fullscreen_create"></i>
                    <i class="fa-solid fa-rotate-right fa-lg text-white mx-2" title="초기화" style="cursor: pointer;" onclick="a_create_modal_reset()"></i>
                    <i class="fa-solid fa-xmark fa-xl text-white mx-2" title="닫기" style="cursor: pointer;" data-bs-dismiss="modal"></i>
                </div>
            </div>

            <div class="modal-body w-100 p-4">
                <!-- 단일 영역 -->
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 mb-3">
                            <label for="change_type" class="form-label fw-bold">연차 조정</label>
                            <select class="text-left form-select div_required" id="change_type">
                                <option value="연차 추가">연차 추가</option>
                                <option value="연차 삭감">연차 삭감</option>
                            </select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="change_user" class="form-label fw-bold">조정 대상</label>
                            <select class="form-control div_required" id="change_user"></select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="start_date" class="form-label fw-bold">조정 기준일</label>
                            <input type="text" class="form-control date_flatpickr div_required" id="start_date">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="annual_leave_days" class="form-label fw-bold">조정 일수</label>
                            <input type="text" class="form-control div_required" id="annual_leave_days" oninput="validateDecimalInput(this)">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="change_reason" class="form-label">조정 사유</label>
                            <input type="text" class="form-control" id="change_reason">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end">
                <div class="col-8 d-flex justify-content-end">
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_create_modal_reset()">초기화</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_create_submit()">등록</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" data-bs-dismiss="modal">닫기</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- a_update_modal -->
<div class="modal fade" id="a_update_modal" tabindex="-1" role="dialog" aria-labelledby="a_update_modal"
     data-bs-backdrop="static" data-bs-keyboard="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mx-2">휴가 관리 <i class="fa-solid fa-angle-right px-1"></i> 연차조정 수정</h5>
                <div>
                    <i class="fa-solid fa-expand fa-lg text-white mx-2" title="전체화면" style="cursor: pointer;" id="md_fullscreen_update"></i>
                    <i class="fa-solid fa-rotate-right fa-lg text-white mx-2" title="초기화" style="cursor: pointer;" onclick="a_update_modal_reset()"></i>
                    <i class="fa-solid fa-xmark fa-xl text-white mx-2" title="닫기" style="cursor: pointer;" data-bs-dismiss="modal"></i>
                </div>
            </div>

            <div class="modal-body w-100 p-4">
                <!-- 단일 영역 -->
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 mb-3">
                            <label for="change_type" class="form-label">연차 조정</label>
                            <input type="text" class="form-control" id="change_type" disabled>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="change_user" class="form-label">조정 대상</label>
                            <select class="form-control" id="change_user" disabled></select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="start_date" class="form-label">조정 기준일</label>
                            <input type="text" class="form-control date_flatpickr" id="start_date" disabled>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="annual_leave_days" class="form-label fw-bold">조정 일수</label>
                            <input type="text" class="form-control div_required" id="annual_leave_days" oninput="validateDecimalInput(this)">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="change_reason" class="form-label">조정 사유</label>
                            <input type="text" class="form-control" id="change_reason">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end">
                <div class="col-8 d-flex justify-content-end">
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_update_modal_reset()">초기화</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" onclick="a_update_submit()">수정</div>
                    <div class="btn btn-secondary text-nowrap mx-1 px-3" data-bs-dismiss="modal">닫기</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
let a_click_id;
let a_click_change_user;
let a_click_change_type;
let a_click_start_date;
let a_click_annual_leave_days;
let a_click_change_reason;

let fr_date;
let to_date;
let all_sch;

let monthly_leave_count = 0;

let a_nation_data = {
    cname: 'a_nation',  // 인스턴스 명과 일치해야함
    nation_id: 'a_nation_id',
    range: 5,
    page_size: 20,  // 세로 Row 수
};
let a_nation = new Nations(a_nation_data, a_search); // 인스턴스 명
a_nation.nation_display({});

$('#a_page_size').on('change', function () {
    localStorage.setItem('leave_manage_page_size', $(this).val());
});

window.onkeydown = function (event) {
    if (event.keyCode == 116) {  // F5
        event.returnValue = false;
        refresh();
    }
}

document.getElementById("all_sch").addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
        a_search_ready();
    }
});

function refresh() {
    window.location.href = window.location.href
}

$(function () {
    let savedPageSize = localStorage.getItem('leave_manage_page_size');
    if (savedPageSize) { $('#a_page_size').val(savedPageSize);}
    
    main();
});

function main() {
    set_autocomplete('off');
    init_date_flatpickr();
    a_search_ready();
}

function a_search_ready() {
    a_click_id = null;
    a_nation.page = 1;
    a_nation_data.page_size = $("#a_page_size").val();

    fr_date = $('#fr_date').val();
    to_date = $('#to_date').val();
    all_sch = $('#all_sch').val();

    a_search();
}

function a_search() {
    let query = "?page=" + a_nation.page + "&page_size=" + a_nation_data.page_size;
    query += "&fr_date=" + fr_date;
    query += "&to_date=" + to_date;
    query += "&all_sch=" + all_sch;

    fetch_gp("/leave_manage_list_fn/" + query, 'GET', true, {}, (done) => {
        a_draw_table(done);
    });
}

function a_draw_table(done) {
    // console.log("a_draw_table: ", done);

    let data = done.results;
    if (data.length === 0) {
        let emptyRow = `
        <tr>
            <td colspan="99" style="text-align: center;">등록된 데이터가 없습니다.</td>
        </tr>`;
        $('#a_tbody').html(emptyRow);
        return;
    }

    let num = ((a_nation.page - 1) * a_nation_data.page_size) + 1;
    let rows = "";
    for (let i = 0; i < data.length; i++) {
        let item = data[i];
        
        let profileImage = item.created_by.profile_image 
        ? `<img src="${item.created_by.profile_image}" alt="Profile Image" class="rounded-circle me-2" width="24" height="24">`
        : "";
        
        let badgeColor = 'btn btn-secondary';
            if (item.apv_status === '진행') {
                badgeColor = 'btn btn-primary';
            } else if (item.apv_status === '완료') {
                badgeColor = 'btn btn-success';
            } else if (item.apv_status === '반려') {
                badgeColor = 'btn btn-danger';
            }
            
        let end_date = item.end_date;
        let annual_leave_days = item.annual_leave_days;
        if (item.change_type === "연차 추가") {
            end_date = "";
            annual_leave_days = "+" + item.annual_leave_days;
        } else if (item.change_type === "연차 삭감") {
            end_date = "";
            annual_leave_days = "-" + item.annual_leave_days;
        }

        let row = `
        <tr id='${item.id}' class='align-middle text-nowrap' style='cursor:pointer;'>
            <td class="d-none d-md-table-cell">${num + i}</td>
            <td name='change_user' class='d-none'>${item.created_by.id}</td>
            <td>${profileImage} ${item.created_by.name} ${item.created_by.job_level || ""}</td>
            <td name='team' class="d-none d-md-table-cell">${item.created_by.team || ""}</td>
            <td name='category_type'>${item.change_type || ""}</td>
            <td name='change_type' class='d-none'>${item.change_type || ""}</td>
            <td name='start_date'>${item.start_date || ""}</td>
            <td name='end_date' class="d-none d-md-table-cell">${end_date || ""}</td>
            <td name='annual_leave_days'>${annual_leave_days || ""}</td>
            <td name="apv_status_btn" style="cursor: default;">
                <a href="#" onclick="openBadgeLink('${item.apv_category_id}', '${item.approval}'); return false;">
                    <span class="font-size-12 py-1 px-2 badge ${badgeColor}">${item.apv_status || ""}</a></td>
            <td name='change_reason' class="d-none d-md-table-cell"'>${item.change_reason || ""}</td>
        </tr>`;
        rows += row;
    }

    a_nation.nation_display(done);
    $('#a_tbody').html(rows);

    // 클릭한 행 유지
    if (a_click_id != null) {
        $("#a_tbody #" + a_click_id).addClass('clicked');
    }

    $('#a_tbody > tr').on('click', function () {
        $('#a_tbody > tr').removeClass('clicked');
        $(this).addClass('clicked');

        a_click_id = $(this).attr("id");
        a_click_change_type = $(this).find("[name='change_type']").text();
        a_click_change_user = $(this).find("[name='change_user']").text();
        a_click_start_date = $(this).find("[name='start_date']").text();
        a_click_annual_leave_days = $(this).find("[name='annual_leave_days']").text();
        a_click_change_reason = $(this).find("[name='change_reason']").text();
    });
    
    {% if request.user.is_superuser or request.user.is_master %}
        $('#a_tbody > tr').on('dblclick', function () {
            a_update_modal_in();
        });
    {% endif %}
}

function a_create_modal_in() {
    a_create_modal_reset('popup_off');

    if (window.matchMedia('(max-width: 1200px)').matches) {
        $('#md_fullscreen_create').trigger('click');
    }

    $('#a_create_modal').modal("show");
}

function a_create_modal_reset(popup_off) {
    init_Select2_modal(
        '#a_create_modal #change_user',
        '선택',
        '/sel2_user_manager/?me=true',
        {id: 'id', txt: item => `${item.text}`, etc: item => `${item.monthly_leave}`}
    );
    $("#a_create_modal #change_type").val('연차 추가');
    $("#a_create_modal #start_date").val('');
    $("#a_create_modal #annual_leave_days").val('');
    $("#a_create_modal #change_reason").val('');
    $('#a_create_modal #change_user').on('select2:select', function (e) {
        let etc = e.params.data.etc;
        if (etc) {
            monthly_leave_count = e.params.data.etc;
        }
    });

    modal_toast(popup_off, '#a_create_modal');
}

function a_create_submit() {
    console.log($('#a_create_modal #change_type').val())
    if (is_empty($('#a_create_modal #change_user').val()) === true) {
        alert("[조정 대상] 항목을 선택하세요.");
        return;
    }

    if (is_empty($('#a_create_modal #start_date').val()) === true) {
        alert("[조정 기준일] 항목을 입력하세요.");
        return;
    }

    if (is_empty($('#a_create_modal #annual_leave_days').val()) === true) {
        alert("[조정 일수] 항목을 입력하세요.");
        return;
    }

    if ($('#a_create_modal #change_type').val() == "연차 삭감") {
        if (monthly_leave_count < $('#a_create_modal #annual_leave_days').val()) {
            alert("보유한 연차보다 초과하지 않는 삭감 일수를 입력하세요.");
            return;
        }
    }

    let api_data = new FormData();
        api_data.append("change_type", nullapply($('#a_create_modal #change_type').val()));
        api_data.append("change_user", nullapply($('#a_create_modal #change_user').val()));
        api_data.append("start_date", nullapply($('#a_create_modal #start_date').val()));
        api_data.append("annual_leave_days", nullapply($('#a_create_modal #annual_leave_days').val()));
        api_data.append("change_reason", nullapply($('#a_create_modal #change_reason').val()));

    fetch_gp('/leave_manage_create_fn/', 'post', true, api_data, (done) => {
        $('#a_create_modal').modal("hide");
        a_search_ready();
        alert(txt.create_ed);
    });
}

function a_update_modal_in() {
    if (a_click_id == null) {
        alert(txt.update_select);
        return;
    }

    a_update_modal_reset('popup_off');

    if (window.matchMedia('(max-width: 1200px)').matches) {
        $('#md_fullscreen_update').trigger('click');
    }

    $('#a_update_modal').modal("show");
}

function a_update_modal_reset(popup_off) {
    init_Select2_modal('#a_update_modal #change_user', '선택', '/sel2_user_manager/?me=true', {id: 'id', txt: item => `${item.text}`}, a_click_change_user);
    $("#a_update_modal #change_type").val(a_click_change_type);
    $("#a_update_modal #start_date").val(a_click_start_date);
    $("#a_update_modal #annual_leave_days").val(a_click_annual_leave_days);
    $("#a_update_modal #change_reason").val(a_click_change_reason);

    modal_toast(popup_off, '#a_update_modal');
}

function a_update_submit() {
    if (is_empty($('#a_update_modal #annual_leave_days').val()) === true) {
        alert("[조정 일수] 항목을 입력하세요.");
        return;
    }

    let api_data = new FormData();
        api_data.append("pk", a_click_id);
        api_data.append("annual_leave_days", nullapply($('#a_update_modal #annual_leave_days').val()));
        api_data.append("change_reason", nullapply($('#a_update_modal #change_reason').val()));

    fetch_gp('/leave_manage_update_fn/', 'post', true, api_data, (done) => {
        $('#a_update_modal').modal("hide");
        a_search_ready();
        alert(txt.update_ed);
    });
}

function a_delete_submit() {
    if (a_click_id == null) {
        alert(txt.delete_select);
        return;
    }

    let res = prompt("캘린더에 등록된 연차 데이터를 삭제할 경우,\n캘린더에서도 함께 삭제됩니다.\n\n" +
        txt.delete_will_check);
    if (txt.delete_check.includes(res)) {

        let api_data = new FormData();
        api_data.append("pk", a_click_id);

        fetch_gp('/leave_manage_delete_fn/', 'post', true, api_data, (done) => {
            a_nation.page = 1;
            a_click_id = null;

            a_search_ready();
            alert(txt.delete_ed);
        });
    } else {
        alert(txt.cancel);
    }
}

function validateDecimalInput(input) {
    // 숫자와 소수점만 허용 (단, 소수점은 하나만 가능)
    input.value = input.value.replace(/[^0-9.]/g, ''); // 숫자와 소수점 외 제거
    if ((input.value.match(/\./g) || []).length > 1) {
        input.value = input.value.slice(0, input.value.lastIndexOf('.')); // 마지막 소수점 제거
    }
}

// 연차통계 필터 비동기 호출
$(document).ready(function () {
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name) || null; // 값이 없으면 null 반환
    }

    // 파라미터 값 가져오기
    const year = getQueryParam('year');
    const month = getQueryParam('month');
    const name = getQueryParam('name');

    let firstDay = null;
    let lastDay = null;

    if (year && month) {
        firstDay = `${year}-${String(month).padStart(2, '0')}-01`;
        let lastDate = new Date(year, month, 0).getDate();
        lastDay = `${year}-${String(month).padStart(2, '0')}-${lastDate}`;
    }

    $('#fr_date').val(firstDay);
    $('#to_date').val(lastDay);
    $('#all_sch').val(name);

    // 모든 값이 채워질 때까지 기다렸다가 실행
    let checkInterval = setInterval(function () {
        let frDateVal = $('#fr_date').val();
        let toDateVal = $('#to_date').val();
        let allSchVal = $('#all_sch').val();

        if (frDateVal && toDateVal && allSchVal) {
            clearInterval(checkInterval); // 인터벌 중지
            a_search_ready(frDateVal, toDateVal, allSchVal);
        }
    }, 100); // 100ms 간격으로 확인
});

function openBadgeLink(apvIdCate, apvId) {
    let url = `/approval/progress/${apvIdCate}/${apvId}`;
    let newWindow = window.open(url, '_blank', 'width=1300,height=900,scrollbars=yes,resizable=yes');
}

const modalConfigs = [
    { modalId: 'a_create_modal', iconId: 'md_fullscreen_create' },
    { modalId: 'a_update_modal', iconId: 'md_fullscreen_update' },
];

modalConfigs.forEach(({ modalId, iconId }) => {
    const modalElement = document.getElementById(modalId);
    const iconElement = document.getElementById(iconId);

    if (modalElement && iconElement) {
        iconElement.addEventListener('click', () => {
            toggleModalFullscreen(modalElement, iconElement);
        });

        $(`#${modalId}`).on('hidden.bs.modal', () => {
            resetModalFullscreen(modalElement, iconElement);
        });
    }
});

document.querySelectorAll('.modal-header').forEach(header => {
    header.addEventListener('dblclick', function () {
        const modalElement = this.closest('.modal');
        const iconElement = this.querySelector('.fa-expand, .fa-compress');
        if (modalElement && iconElement) {
            toggleModalFullscreen(modalElement, iconElement);
        }
    });
});

</script>